.nav {
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: #54a0ff;
    z-index: 9999;

}
.billMoney{
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
}
.billMoney h2{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.brand {
    height: 100px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: rotate(40deg);
}


.brand .logo {
    width: 150px;
    height: auto;
}